In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession \
    .builder \
    .appName("how to read csv file") \
    .getOrCreate()

In [3]:
df = spark.read.option("delimiter", ";").option("header", "true").csv('./data_sample/Books.csv')

rdd = spark.sparkContext.textFile('./data_sample/Books.csv')

print(type(df))
print(type(df.rdd))
print(type(rdd))
print(type(rdd.map(lambda x: (x, )).toDF()))

<class 'pyspark.sql.dataframe.DataFrame'>
<class 'pyspark.rdd.RDD'>
<class 'pyspark.rdd.RDD'>
<class 'pyspark.sql.dataframe.DataFrame'>

In [4]:
print(type(rdd.take(1)))
print(rdd.take(1))

print("\n")

print(type(rdd.first()))
print(rdd.first())

<class 'list'>
['ISBN;Title;Author;Year;Publisher']


<class 'str'>
ISBN;Title;Author;Year;Publisher

In [56]:
book_1993 = df.rdd.filter(lambda x: x['Year'] is not None).filter(lambda x: '1993' in x['Year'])
out_data = book_1993.collect()

In [69]:
out_data_frame = spark.createDataFrame(out_data)

In [71]:
out_data_frame.write.mode("overwrite").options(header='true').csv("hdfs://localhost:9000/sample_Thinh/book_1993.csv")

In [ ]:
#https://towardsdatascience.com/create-your-first-etl-pipeline-in-apache-spark-and-python-ec3d12e2c169