In [1]:
import findspark
# findspark.init()
findspark.add_packages('mysql:mysql-connector-java:8.0.11')

import pyspark
from pyspark.sql import SQLContext

In [2]:
#Extraction

sc = pyspark.SparkContext()
sqlCtx = SQLContext(sc)

In [ ]:

pop_data = sqlCtx.read.option("header",True).csv("./movies.csv")
pop_data.show(5)

In [41]:
#Transformation


movies_comedy = pop_data.filter(pop_data['genres'].contains('Comedy')).filter(pop_data['title'].contains('1995'))
movies_comedy.show(5)

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      7|      Sabrina (1995)|      Comedy|Romance|
+-------+--------------------+--------------------+
only showing top 5 rows

In [26]:
import mysql.connector
import pandas as pd

In [69]:
conn = mysql.connector.connect(user = 'root', database='test_Thinh_mysql',
                              password='Abc12345',
                              host='127.0.0.1',
                              port=3306)

cursor = conn.cursor()
# cursor.execute("""CREATE TABLE movie_comedy (movieID integer NOT NULL, title varchar(100), genres varchar(50));""")

In [23]:
a = [tuple(x) for x in movies_comedy.collect()]
q = "insert into movie_comedy (movieID, title, genres) value (%s, %s, %s)"

cursor.executemany(q,a)

In [60]:
cursor.execute("select * from movie_comedy;")
# result = cursor.fetchall()
result = cursor.fetchmany(5)


for row in result:
    print (row)

(1, 'Toy Story (1995)', 'Adventure|Animation|Children|Comedy|Fantasy')
(3, 'Grumpier Old Men (1995)', 'Comedy|Romance')
(4, 'Waiting to Exhale (1995)', 'Comedy|Drama|Romance')
(5, 'Father of the Bride Part II (1995)', 'Comedy')
(7, 'Sabrina (1995)', 'Comedy|Romance')

In [75]:
conn.commit()

In [74]:
query = "SELECT * FROM movie_comedy"
pdf = pd.read_sql(query, con=conn)
pdf

,movieID,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,3,Grumpier Old Men (1995),Comedy|Romance
2,4,Waiting to Exhale (1995),Comedy|Drama|Romance
3,5,Father of the Bride Part II (1995),Comedy
4,7,Sabrina (1995),Comedy|Romance
...,...,...,...
163,192721,Doctor Mack (1995),Comedy|Drama
164,194474,A Chinese Odyssey Part Two: Cinderella (1995),Comedy
165,196683,Pet Shop (1995),Children|Comedy|Sci-Fi
166,204566,Summer Snow (1995),Comedy|Drama
167,205697,The Nutty Boy: A Film (1995),Adventure|Children|Comedy

In [5]:
# import findspark
# findspark.add_packages('mysql:mysql-connector-java:8.0.11')

# sc = pyspark.SparkContext()
# sqlCtx = SQLContext(sc)

dataframe_mysql = sqlCtx.read.format("jdbc")\
            .option("url", "jdbc:mysql://127.0.0.1/test_Thinh_mysql")\
            .option("driver", "com.mysql.jdbc.Driver")\
            .option("dbtable", "movie_comedy")\
            .option("user", "root")\
            .option("password", "Abc12345").load()

dataframe_mysql.show(5)

+-------+--------------------+--------------------+
|movieID|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      7|      Sabrina (1995)|      Comedy|Romance|
+-------+--------------------+--------------------+
only showing top 5 rows